.venv
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MNIST/
.env
env/
venv/
ENV/
.idea/
.coverage
htmlcov/
.pytest_cache/
sql_app.db
.idea
alembic.ini
alembic/